
@{
    Layout = null;
}

<!DOCTYPE html>
<!--[if IE 7]>
<html class="ie ie7 no-js" lang="en-US">
<![endif]-->
<!--[if IE 8]>
<html class="ie ie8 no-js" lang="en-US">
<![endif]-->
<!--[if !(IE 7) | !(IE 8)  ]><!-->
<html lang="en" class="no-js">

<!-- movielist07:38-->
@await Component.InvokeAsync("_UserLayoutWebUIHeadComponentPartial");
<body>
	@await Component.InvokeAsync("_UserLayoutWebUIPreloaderComponentPartial");
	@await Component.InvokeAsync("_UserLayoutWebUILoginModalComponentPartial");
	@await Component.InvokeAsync("_UserLayoutWebUIRegisterModalComponentPartial");
	@await Component.InvokeAsync("_UserLayoutWebUINavbarComponentPartial");
	@await Component.InvokeAsync("_UserLayoutWebUIHeroComponentPartial");
	@RenderBody()
	@await Component.InvokeAsync("_UserLayoutWebUIFooterComponentPartial");

	<script src="/Film-Review-Movie-Database/js/jquery.js"></script>
	<script src="/Film-Review-Movie-Database/js/plugins.js"></script>
	<script src="/Film-Review-Movie-Database/js/plugins2.js"></script>
	<script src="/Film-Review-Movie-Database/js/custom.js"></script>
</body>

<!-- movielist07:38-->
</html>